.profile-picture {
    width: 30vmax;
    height: 30vmax;
    border-radius: 50%;
    margin: 5vmin 0 0 5vmin;
    background-image: url("../../images/profile.png");
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    .profile-picture {
        width: 90vw;
        height: 90vw;
        justify-self: center;
        margin-left: 2vmax;
        margin-bottom: 1rem;
    }
}